$background-color: #f0f0f0;
$primary-color: #333;
$secondary-color: #4f4f4f;
$tertiary-color: #2c5f5d;
$quaternary-color: #ffa70f;
$white-color: #fff;
$menu-hover-color: #8caaed;
$menu-inactive-color: #a6a6a6;
